
.home-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100%;
  margin: 0 auto;
  padding: 0px 0px 20px; /* added top padding */
  width: 100%;
  margin: 0 auto;
  padding-top: 910px;
  min-height: 150vh;
  
}

.home-heading {
  display: block; 
  overflow: hidden;
  margin-bottom: 0px;
  text-align: center;
  margin-top: 40px;
  padding: 50px 0px;
  width: 100%;
  max-width: 3000px; 
  text-align: center;
  box-sizing: border-box;
}




.text {
  display: inline-block;
  color: rgb(14, 16, 129);
  white-space: nowrap;
  letter-spacing: 6px;
  font-weight: 800;
  margin: 0px;
  overflow: hidden;
  font-size: 35px;
  border-right: 2px solid #fff;
  width: 0;
  animation: typing 3s ease forwards, blink-caret 1.9s step-end infinite;
}

.gr{
  color: rgb(15, 8, 48);
  letter-spacing: 5px;
  margin-bottom: 40%;
  font-weight: 700;
}

.intro-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 2000px;
  width: 100%;
  padding: 40px 70px;
  margin-bottom: 50px;
  gap: 100px;
  box-sizing: border-box;
  border-radius: 40px;
  /* background-color: #eee6e6; */
  border: 2px solid rgb(212, 210, 210);

}

.intro-image img {
  max-width: 500px;
  width: 100%;
  border-radius: 40px;
  height: 250px;
  transition: opacity 1.5s ease-in-out;
  opacity: 1;
}

.intro-text {
  flex: 5;
}

.intro-text h2 {
  margin-bottom: 15px;
  font-size: 20px;
}

.intro-text p {
  font-size: 17px;
  line-height: 1.7;
}


/* projects-section styling */
.weather-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px; /* space between title and board */
}


.weather-board {

  text-align: center;
  box-sizing: border-box; 
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 2000px;
  width: 100%;
  padding: 40px 70px;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 40px;
  /* background-color: #eee6e6; */
  border: 2px solid rgb(212, 210, 210);
}

/* Control section */

/* wrapper for both devices */
.devices-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  width: 100%;
  
}

/* light control box */
.control-light {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 600px;
  width: 100%;
  padding: 30px 100px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid rgb(212, 210, 210);
  transition: all 0.3s ease-in-out;
}


.control-light:hover {
  transform: translateY(-5px);
}

/* inside the light */
.light-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  max-width: 2200px;
  
}

.light-image {
  margin-bottom: 20px;
}

.light-image img {
  width: 150px; /* Control image size */
  height: 150px;
  transition: all 0.3s ease;
}


 
.light-status {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.light-description {
  font-size: 1rem;
  color: #666;
  text-align: center;
  margin-top: 10px;
  line-height: 1.5;
  white-space: normal;
  word-wrap: break-word;
  padding: 0 10px;
  
  width: 100%; /* Ensure full width of the parent container */
  max-width: none; /* Remove any max-width restrictions */
  box-sizing: border-box; /* Prevent padding from affecting width */
  word-break: break-word; 
}

/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:checked + .slider:before {
  transform: translateX(26px);
}


/* fan control box */
.control-fan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 600px;
  width: 100%;
  padding: 40px 100px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid rgb(212, 210, 210);
  transition: all 0.3s ease-in-out;

}

.control-fan:hover {
  transform: translateY(-5px);
}

/* title inside each control box */
.device-title {
  font-size: 22px;
  margin-bottom: 50px;
  text-align: center;
  margin-top: 50px;
  letter-spacing: 1px;
}

.fan-on {
  animation: spin 2s linear infinite;
}




/* Smooth typing effect */

@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


@keyframes blink-caret {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: #fff7f7;
  }
}

