
.home-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 20px;
  width: 100%;
  margin: 0 auto;
  
}

.home-heading {
  display: block; 
  overflow: hidden;
  margin-bottom: 0px;
  text-align: center;
  padding: 50px 0px;
  width: 100%;
  max-width: 3000px; 
  text-align: center;
  box-sizing: border-box;
}




.text {
  display: inline-block;
  color: rgb(14, 16, 129);
  white-space: nowrap;
  letter-spacing: 6px;
  font-weight: 800;
  overflow: hidden;
  font-size: 35px;
  border-right: 2px solid #fff;
  width: 0;
  animation: typing 3s ease forwards, blink-caret 1.9s step-end infinite;
}

.gr{
  color: rgb(15, 8, 48);
  letter-spacing: 5px;
  margin-bottom: 40%;
  font-weight: 700;
}

.intro-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 2000px;
  width: 100%;
  padding: 40px 70px;
  gap: 100px;
  box-sizing: border-box;
  border-radius: 40px;
  /* background-color: #eee6e6; */
  border: 2px solid rgb(212, 210, 210);

}

.intro-image img {
  max-width: 500px;
  width: 100%;
  border-radius: 40px;
  height: 250px;
  transition: opacity 1.5s ease-in-out;
  opacity: 1;
}

.intro-text {
  flex: 5;
}

.intro-text h2 {
  margin-bottom: 15px;
  font-size: 20px;
}

.intro-text p {
  font-size: 17px;
  line-height: 1.7;
}

/* projects-section styling */
.projects-section {
  padding: 40px 20px;
  width: 100%;
  max-width: 1000px;
  text-align: center;
  box-sizing: border-box;
}

/* Smooth typing effect */

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


@keyframes blink-caret {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: #fff7f7;
  }
}

